.vscode/**
.vscode-test/**
node_modules/**
client/out/**
server/out/**
client/src/**
server/src/**
**/tsconfig.json
tsconfig.base.json
**/*.map
**/*.ts
esbuild.js
examples/**
.gitignore
.github/**
**/.eslintrc*
CLAUDE.md
package-lock.json
scratchpad/**
scripts/**
